/**
 * ################################################################################
 * WP MyCarousel
 * 
 * Copyright 2016 Eugen Mihailescu <eugenmihailescux@gmail.com>
 * 
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * ################################################################################
 * 
 * Short description:
 * URL: http://mycarousel.mynixworld.info
 * 
 * Git revision information:
 * 
 * @version : 0.1-10 $
 * @commit  : 2757080da1745ce2d7d12fd377c87e3367ab56a3 $
 * @author  : eugenmihailescu <eugenmihailescux@gmail.com> $
 * @date    : Wed Dec 7 22:53:26 2016 +0100 $
 * @file    : wp-mycarousel.css $
 * 
 * @id      : wp-mycarousel.css | Wed Dec 7 22:53:26 2016 +0100 | eugenmihailescu <eugenmihailescux@gmail.com> $
*/

@CHARSET "UTF-8";
.mynix-carousel {
margin: 0;
padding: 0;
}
h1 {
color: white
}
.mynix-slideshow-wrapper {
display: block;
min-width: 260px;
margin: auto;
border: 12px rgba(255, 255, 240, 1) solid;
-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
margin-top: 20px;
margin-bottom: 45px;
position: relative;
}
.mynix-slideshow-inner {
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
overflow: hidden;
position: absolute;
}
.mynix-slideshow-inner>ul {
list-style: none;
height: 100%;
overflow: hidden;
position: relative;
left: 0px;
-webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
-moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
-o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.mynix-slideshow-inner>ul>li {
float: left;
position: relative;
}
.mynix-slideshow-inner li img {
margin: auto;
height: 100%;
}
.mynix-slideshow-wrapper input[type=radio] {
position: absolute;
left: 50%;
bottom: 15px;
z-index: 100;
visibility: hidden;
}
.mynix-slideshow-wrapper
label:not(.arrows):not(.show-description-label){
position:absolute;
left:50%;
bottom:-45px;
z-index:100;
width:12px;
height:12px;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
cursor:pointer;
-webkit-box-shadow:0px 0px 3px rgba(0,0,0,.8);
-moz-box-shadow:0px 0px 3px rgba(0,0,0,.8);
box-shadow:0px 0px 3px rgba(0,0,0,.8);
-webkit-transition:background-color .2s;
-moz-transition:background-color .2s;
-o-transition:background-color .2s;
transition:background-color .2s;
}
.mynix-slideshow-wrapper label:not(.arrows ):active {
bottom: -46px;
}
label.quick-slide, label.arrows, .show-description-label {
color: #FFF !important;
}
label.arrows {
font-family: 'WebSymbolsRegular';
font-size: 25px;
position: absolute;
top: 50%;
margin-top: -25px;
display: none;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity = 0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
cursor: pointer;
z-index: 1000;
background-color: transparent;
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
text-shadow: 0px 0px 1px rgba(0, 0, 0, .8);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 1.5em;
text-align: center;
background-color: rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}
.arrows-mobile, .mynix-slideshow-wrapper:hover .arrows {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
filter: alpha(opacity = 70) !important;
-moz-opacity: 0.7 !important;
-khtml-opacity: 0.7 !important;
opacity: 0.7 !important;
}
label.arrows:active {
margin-top: -23px
}
.description {
position: absolute;
top: 0;
left: 0;
width: 260px;
font-family: 'Arial, Helvetica, sans-serif';
z-index: 1000;
}
.description input {
visibility: hidden
}
.description label {
font-family: 'Arial, Helvetica, sans-serif';
background-color: rgba(255, 255, 240, 1);
position: relative;
left: -17px;
top: 00px;
width: 40px;
height: 27px;
display: inline-block;
text-align: center;
padding-top: 7px;
border-bottom-right-radius: 15px;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity = 0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
-webkit-transition: opacity .2s;
-moz-transition: opacity .2s;
-o-transition: opacity .2s;
transition: opacity .2s;
z-index: 5;
color: rgb(20, 20, 20);
}
.mynix-slideshow-inner>ul>li:hover .description label {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity = 100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
.description input[type=checkbox]:checked ~label {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity = 100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
.description .description-text {
background-color: rgba(255, 255, 230, .75);
padding-left: 45px;
padding-top: 25px;
padding-right: 15px;
padding-bottom: 15px;
position: relative;
top: -35px;
z-index: 4;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity = 0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
-webkit-transition: opacity .2s;
-moz-transition: opacity .2s;
-o-transition: opacity .2s;
transition: opacity .2s;
color: rgb(20, 20, 20);
}
.description input[type=checkbox]:checked ~.description-text {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity = 100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
.mynix-carousel li:BEFORE {
content: attr(annot);
display: block;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 5em;
padding-top: 2.5em;
padding-left: 2em;
padding-right: 2em;
color: #FFF;
font-size: 1em;
text-align: left;
z-index: 12;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity = 0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
-webkit-transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
-o-transition: opacity 0.3s;
transition: opacity 0.3s;
text-shadow: 0 0 1px black;
background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}
.mynix-carousel-desktop li:AFTER {
left: 0;
width: 0;
bottom: 24px;
position: absolute;
content: "*";
background-color: #888888;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity = 50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
height: 5px;
}
.mynix-slideshow-inner>ul>li:hover::before {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity = 100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
.mynix-progressbar {
top: 0px;
position: absolute;
padding-top: 10px;
background-color: #888;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity = 50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
width: 0%;
z-index: 1000;
}